$staffPicksUrl: '/books-music-dvds/recommendations/staff-picks/';

// buttons
// $button-background-color: $nypl-search-color-dark;
$button-background-color: blue;

// misc
$border-color: blue;
$focus-width: 3px;
$logo-width: 5rem;
$logo-height: 3rem;

// Layout
$container-width: 1200px;
$header-height: 60px;
$header-component-height: 40px;
$header-component-margin: (40px - 10px)/2;
