.about {
  float: left;
  margin: 0px 0 50px;

  h2 {
    margin: 0.8rem 0;
  }

  ul {
    margin: 20px 0 0;

    li {
      list-style: none;
      display: inline-block;

      a {
        display: inline-block;
      }

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  a {
    color: blue;
    background: white;
  }

  svg {
    fill: blue;
    height: 30px;
  }

  p {
    max-width: 100%;
  }

  @include min-screen($mobile-breakpoint) {
    border-top: 2px solid gray;
  }
}
