li.filter-item {
  margin: .75em 0 .75em 1.75em;

  @include min-screen($xtrasmall-breakpoint) {
    display: inline-block;
  }

  @include min-screen($mobile-breakpoint + 1) {
    margin-left: 1.25em;
    display: block;
  }

  button {
    border-radius: 25px;
    width: 14rem;
    text-align: center;
    padding-left: 20px;
    white-space: pre-line;
    min-height: 2.5rem;
    padding: 0.75rem;
    position: relative;

    svg {
      fill: #0071bc;
      float: left;
      height: 1.25rem;
      width: 1.25rem;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 3.5%;
      display: inline-block;
      @include transform(translate(0, -50%));

      @include min-screen($mobile-breakpoint) {
        left: 2%;
      }
    }

    span {
      display: inline-block;
      width: 8rem;
    }

    &:disabled {
      background-color: white;
      border-color: gray;
      color: gray;

      // &:hover {
      //   background-color: white;
      //   border-color: gray;
      //   color: gray;
      // }
    }

    &:hover {
      // background: blue;
      // color: white;

      svg {
        fill: #0071bc;
      }
    }

    &.transition,
    &.active {
      padding-left: 15px;
      margin-left: -1em;

      @include min-screen($xtrasmall-breakpoint) {
        margin-left: 0;
      }

      @include min-screen($mobile-breakpoint + 1) {
        margin-left: -1em;
      }
    }

    &.transition {
      background: #0071bc;
      color: white;
      border-color: #0071bc;

      svg {
        fill: #0071bc;
      }
    }

    &.active {
      // color: white;
      // border: 0.04167rem solid blue;
      // background: blue;

      svg {
        fill: #0071bc;
      }
    }
  }
}
